@font-face {
    font-family: Roboto;
    src: url(${pageContext.request.contextPath}/Roboto-Light.ttf);
   }
 h1{
    font-family: Roboto;
   }
body{
    margin:0px;
    background:#000;
}
.header {
    top:0px;
    height:15%;
    position:fixed;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
}
.content {
    width:100%;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 85%;
    margin: 70px auto;
}